<div th:include="header.html" th:remove="tag"></div>
<div th:include="nav.html" th:remove="tag"></div>

<div id="content" class="content">  
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn boton-menu">
                    <i class="glyphicon glyphicon-align-left"></i>
                    <span>Esconder Menù</span>
                </button>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <h4>Atenciòn Mèdica</h4>
        </div>
    </div>
</div>
</body>
</html>