<div th:include="cabecera-paciente.html" th:remove="tag"></div>

    <div class="container">
        <div class="col-md-12 ancho-bordes">
            <br>   
            <p>Atención Médica</p>
            <div class="row">

                <table class="table">
                    <tr>
                        <td>Anamnesis
                            <textarea id="txtAnamnesis" cols="10" rows="4" class="form-control"></textarea>
                        </td>
                        <td style="width: 494px;">
                            Antecedentes Mórbidos
                            <form class="form-inline">
                                <div class="form-group">
                                    <div class="col-xs-2">
                                        
                                        <input type="checkbox" id="dm">
                                        <label > DM</label>
                                        
                                        <input type="checkbox" id="ca">
                                        <label for="ca"> CA</label>
                                        
                                        <input type="checkbox" id="cardio">
                                        <label for="cardio"> Cardiopatìa</label>
                                    
                                    </div>
                                </div>
                                &nbsp
                                <div class="form-group">
                                    <div class="col-xs-2">
                                        
                                        <input type="checkbox" id="hta" value="Hta">
                                        <label for="hta"> HTA</label>
                                        
                                        <input type="checkbox" id="dld" value="Dld">
                                        <label for="dld"> DLD</label>
                                        
                                        <input type="checkbox" id="tbc" value="Tbc">
                                        <label for="tbc"> TBC</label>
                                    
                                    </div>
                                </div>
                                &nbsp &nbsp &nbsp &nbsp
                                <div class="form-group">
                                    <div class="col-xs-2">
                                        <input type="checkbox" id="epoc" value="Epoc">
                                        <label for="epoc"> EPOC</label>
                                        <input type="checkbox" id="lcfa" value="Lcfa">
                                        <label for="lcfa"> LCFA</label>
                                        <input type="checkbox" id="acxfa"  value="Acxfa">
                                        <label for="vehicle3"> ACXFA</label>
                                    </div>
                                </div>
                                &nbsp &nbsp &nbsp &nbsp
                                <div class="form-group">
                                    <div class="col-xs-2">
                                        <input type="checkbox" id="acv" value="Acv">
                                        <label for="acv"> ACV</label>
                                        <input type="checkbox" id="depre" value="Depresion">
                                        <label for="depre"> Depresión</label>
                                        <input type="checkbox" id="ob"  value="Ob">
                                        <label for="ob"> OB</label>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Exámen Fìsico
                            <textarea id="txtExamen" cols="10" rows="4" class="form-control"></textarea>
                        </td>
                        <td>
                            Diagnóstico
                            <textarea id="txtDiagnostico" cols="10" rows="4" class="form-control"></textarea>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            Indicaciones
                            <textarea id="txtIndicaciones" cols="10" rows="4" class="form-control"></textarea>
                        </td>
                        <td>
                            Exámenes
                            <textarea id="txtExamenes" cols="10" rows="4" class="form-control"></textarea>
                        </td>
                        
                    </tr>
                </table>
            </div>

            <div class="container2">
                <a th:href="@{'/menu/'+ ${idficha}}" id="btnDiagIngreso" class="btn btn-small"><i class="fas fa-undo-alt"></i> Volver al Menú</a>
                <!--<a th:href="@{'/atencion-m/export/'+ ${idficha}}" type="button" target="blank" class="btn btn-small">Imprimir <i class="fas fa-file-pdf"></i></a>-->
                <button id="btnGuardaAtencionM" class="btn btn-main">Guardar Atención</button> 
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function(){
        if($('#txtRoleSession').val() != 'MED'){
            $('#btnGuardaAtencionM').attr('disabled',true);
        }

        var base_url = 'https://hhosorno.herokuapp.com/';
        //var base_url = 'http://localhost:8080/';
        var idficha = $('#txtHiddenFicha').val();

        $.ajax({
            type: 'get',
            url: base_url + 'atencion-m/get-atencion/' + idficha,
            success: function(data){
                if(data != ''){
                    $('#txtAnamnesis').attr('disabled',true);
                    $('#txtExamen').attr('disabled',true);
                    $('#txtDiagnostico').attr('disabled',true);
                    $('#txtIndicaciones').attr('disabled',true);
                    $('#txtExamenes').attr('disabled',true);
                    $('#btnGuardaAtencionM').attr('disabled',true);
                    $('#dm').attr('disabled',true);
                    $('#ca').attr('disabled',true);
                    $('#cardio').attr('disabled',true);
                    $('#hta').attr('disabled',true);
                    $('#dld').attr('disabled',true);
                    $('#tbc').attr('disabled',true);
                    $('#epoc').attr('disabled',true);
                    $('#lcfa').attr('disabled',true);
                    $('#acxfa').attr('disabled',true);
                    $('#acv').attr('disabled',true);
                    $('#depre').attr('disabled',true);
                    $('#ob').attr('disabled',true);
                    
                    $('#txtAnamnesis').val(data.anamnesis);
                    $('#txtExamen').val(data.examenFisico);
                    $('#txtDiagnostico').val(data.diagPresuntivo);
                    $('#txtIndicaciones').val(data.indDomicilio);
                    $('#txtExamenes').val(data.exmanes);

                    if(data.dm != ''){
                        $('#dm').attr('checked','checked');
                    }

                    if(data.dm != ''){
                        $('#dm').attr('checked','checked');
                    }

                    if(data.cardio != ''){
                        $('#cardio').attr('checked','checked');
                    }

                    if(data.hta != ''){
                        $('#hta').attr('checked','checked');
                    }

                    if(data.dld != ''){
                        $('#dld').attr('checked','checked');
                    }

                    if(data.tbc != ''){
                        $('#tbc').attr('checked','checked');
                    }

                    if(data.epoc != ''){
                        $('#epoc').attr('checked','checked');
                    }

                    if(data.lcfa != ''){
                        $('#lcfa').attr('checked','checked');
                    }

                    if(data.acxfa != ''){
                        $('#acxfa').attr('checked','checked');
                    }

                    if(data.dm != ''){
                        $('#dm').attr('checked','checked');
                    }

                    if(data.acv != ''){
                        $('#acv').attr('checked','checked');
                    }

                    if(data.depre != ''){
                        $('#depre').attr('checked','checked');
                    }

                    if(data.ob != ''){
                        $('#ob').attr('checked','checked');
                    }
                }
            },
            error: function(){
                console.log('no hay datos');
            }
        });
    });
</script>

</html>