<div th:include="cabecera-paciente.html" th:remove="tag"></div>

<div class="container">
    <div class="col-md-12 ancho-bordes">
        <p>Educaciòn de Enfermerìa</p>
        <button type="button" data-target="#modalEvMedica" data-toggle="modal" id="btnAddEvMedica" class="btn btn-small"><i class="fas fa-plus-circle"></i> Agregar</button>

        <table class="table table-striped tabla-ev" id="tabla-evMedica">
            <thead></thead>
        </table>
    </div>
</div>

</body>
<div class="modal fade" id="modalEvMedica" role="dialog">
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Registrar Evoluciòn</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label class="col-xs-2 control-label labels-text">Evoluciòn</label>
          <textarea id="txtEvolucionM" cols="30" rows="5" class="form-control input-text" style="height: 50%;"></textarea>

          <label class="col-xs-2 control-label labels-text">Indicaciones</label>
          <textarea id="txtIndicaciones" cols="30" rows="5" class="form-control input-text" style="height: 50%;"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" id="btnSaveEvMedica" class="btn btn-primary" data-dismiss="modal">Guardar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

</html>