<div th:include="cabecera-paciente.html" th:remove="tag"></div>

<div class="container">
    <div class="col-md-12 ancho-bordes">
        <p>Epicrisis Médica</p>
        <hr>
        
        <p>Resumen Hospitalización</p>
        <textarea id="txtResumen" cols="30" rows="8" class="form-control input-text" style="height: 50%;"></textarea>

        <p>Diagnósticos</p>
        <textarea id="txtDiagEpi" cols="30" rows="10" class="form-control input-text" style="height: 50%;"></textarea>

        <p>Indicaciones de Alta</p>
        <textarea id="txtIndicaciones" cols="30" rows="8" class="form-control input-text" style="height: 50%;"></textarea>
        <div class="container2">
            <a th:href="@{'/menu/'+ ${idficha}}" class="btn btn-small"><i class="fas fa-undo-alt"></i> Volver al Menú</a>
            <a th:href="@{'/epicrisis-med/export/'+ ${idficha}}" type="button" target="_blank" class="btn btn-small">Imprimir <i class="fas fa-file-pdf"></i></a>
            <button id="btnGuardaEpicrisisM" class="btn btn-main">Guardar Epicrisis</button> 
        </div>
    </div>
</div>

</body>

<script>
    $(document).ready(function(){

        if($('#txtRoleSession').val() != 'MED'){
            $('#btnGuardaEpicrisisM').attr('disabled',true);
        }

        var base_url = 'https://hhosorno.herokuapp.com/';
        //var base_url = 'http://localhost:8080/';
        var idficha = $('#txtHiddenFicha').val();

        $.ajax({
            type: 'get',
            url: base_url + 'epicrisis-med/get-epicrisis/' + idficha,
            success: function(data){
                if(data != ''){
                    $('#txtResumen').val(data.resumen);
                    $('#txtIndicaciones').val(data.indicaciones);
                    $('#txtResumen').attr('disabled', true);
                    $('#txtIndicaciones').attr('disabled',true);

                    $.ajax({
                        type: 'get',
                        url: base_url + 'epicrisis-med/get-epicrisis-diag/'+ idficha,
                        success: function(data){
                            $('#txtDiagEpi').val('1-'+data.diag1 +'\n2-'+ data.diag2 +'\n3-' + data.diag3 + '\n4-'+ data.diag4);
                            $('#txtDiagEpi').attr('disabled',true);
                        },
                        error: function(){
                            console.log('error al traer diagnosticos');
                        }
                    });
                    
                }
            },
            error: function(){
                $.ajax({
                        type: 'get',
                        url: base_url + 'epicrisis-med/get-epicrisis-diag/'+ idficha,
                        success: function(data){
                            $('#txtDiagEpi').val('1-'+data.diag1 +'\n2-'+ data.diag2 +'\n3-' + data.diag3 + '\n4-'+ data.diag4);
                            //$('#txtDiagEpi').attr('disabled',true);
                        },
                        error: function(){
                            console.log('error al traer diagnosticos');
                        }
                });
            }
        });
    })
</script>
</html>