
<div th:include="cabecera-paciente.html" th:remove="tag"></div>

<br>

<div class="container">
    <div class="form-row">
  <div class="col">
    <a th:href="@{'/atencion-m/'+ ${idficha}}" class="btn btn-light btn-block btn-menu" style="color: white;"><i class="fas fa-user-md"></i> Atención Médica</a>
  </div>
  <div class="col">
    <a th:href="@{'/educacion-enf/'+ ${idficha}}" class="btn btn-light btn-block btn-menu" style="color: white;"><i class="fas fa-user-md"></i> Educación de Enfermería</a>
  </div>
    </div>
    <div class="form-row mt-2">
  <div class="col">
    <a th:href="@{'/signos/'+ ${idficha}}" class="btn btn-light btn-block btn-menu" type="button" style="color: white;"><i class="fas fa-heartbeat"></i> Signos Vitales</a>
  </div>
  <div class="col">
    <a th:href="@{'/evolucion-m/'+ ${idficha}}" class="btn btn-light btn-block btn-menu" type="button" style="color: white;"><i class="fas fa-notes-medical"></i> Evolución Mèdica</a>
  </div>
    </div>
    <div class="form-row mt-2">
        <div class="col">
          <a th:href="@{'/evolucion-e/'+ ${idficha}}" type="button" class="btn btn-light btn-block btn-menu" style="color: white;"><i class="fas fa-notes-medical"></i> Evolución de Enfermería</a>
        </div>
        <div class="col">
          <a th:href="@{'/evolucion-k/'+ ${idficha}}" class="btn btn-light btn-block btn-menu" type="button" style="color: white;"><i class="fas fa-notes-medical"></i> Evolución Kinésica</a>
        </div>
    </div>
    <div class="form-row mt-2">
      <div class="col">
        <a th:href="@{'/epicrisis-med/'+ ${idficha}}" type="button" class="btn btn-light btn-block btn-menu" style="color: white;"><i class="fas fa-user-md"></i> Epicrisis Médica</a>
      </div>
      <div class="col">
        <a th:href="@{'/proc-enf/'+ ${idficha}}" class="btn btn-light btn-block btn-menu" type="button" style="color: white;"><i class="fas fa-procedures"></i> Procedimientos Enfermería</a>
      </div>
    </div>
    <div class="form-row mt-2">
      <div class="col">
        <a th:href="@{'/evolucion-o/'+ ${idficha}}" type="button" class="btn btn-light btn-block btn-menu" style="color: white;"><i class="fas fa-notes-medical"></i> Evolución otros Prof.</a>
      </div>
      <div class="col">
        <a th:href="@{'/ev-tens/'+ ${idficha}}" type="button" class="btn btn-light btn-block btn-menu" style="color: white;"><i class="fas fa-notes-medical"></i> Evolución TENS</a>
      </div>
    </div>
    <div class="form-row mt-2">
      <div class="col">
        <a th:href="@{'/storage/'+ ${idficha}}" type="button" class="btn btn-light btn-block btn-menu" style="color: white;"><i class="fas fa-paperclip"></i> Adjuntar archivos</a>
      </div>
      <div class="col">
        
      </div>
    </div>
  </div>

</div>
</body>
</html>