<div th:include="header.html" th:remove="tag"></div>

<div class="wrapper" id="sideNavParent">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <img class="img-responsive logo" src="../img/logo1.png" style="width: 220px; height: 145px;">
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/inicio/"><i class="fas fa-home"></i> Inicio</a>
            </li>
            <li class="active">
                <a th:href="@{'/ingreso/'}" ><i class="fas fa-check-square"></i> Ingreso Paciente</a>   
            </li>
            <li>
                <a th:href="@{'/paciente/search'}"><i class="fas fa-search"></i> Buscar Paciente</a>
            </li>
            
        </ul>
        
    </nav>
</div>

    <!-- Page Content Holder -->
    <div id="content" class="content">  
        <nav class="navbar navbar-default">
            <div class="container-fluid">
    
                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn boton-menu">
                        <i class="glyphicon glyphicon-align-left"></i>
                        <span>Esconder Menú</span>
                    </button>

                    <label >Nombre de Usuario</label>
                </div>
            </div>
        </nav>



<script type="text/javascript">
    $(document).ready(function () {
       

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>
  
