<div th:include="cabecera-paciente.html" th:remove="tag"></div>

<div class="container">
    <div class="col-md-12 ancho-bordes">
        <p>Procedimientos de Enfermería</p>
        <button type="button" data-target="#modalProce" data-toggle="modal" id="btnAddProce" class="btn btn-small"><i class="fas fa-plus-circle"></i> Agregar</button>
        <a th:href="@{'/menu/'+ ${idficha}}" class="btn btn-small"><i class="fas fa-undo-alt"></i> Volver al Menú</a>
        <a th:href="@{'/proc-enf/export/'+ ${idficha}}" type="button" target="_blank" class="btn btn-small">Imprimir <i class="fas fa-file-pdf"></i></a>

        <table class="table table-striped tabla-ev" id="tabla-proce">
            <thead></thead>
        </table>
    </div>
</div>

</body>
<div class="modal fade" id="modalProce" role="dialog">
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Registrar Procedimiento</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label class="col-xs-2 control-label labels-text">Procedimiento</label>
          <textarea id="txtProce" cols="30" rows="5" class="form-control input-text" style="height: 50%;"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" id="btnSaveProce" class="btn btn-primary" data-dismiss="modal">Guardar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <script>
      $(document).ready(function(){

        if($('#txtRoleSession').val() != 'ENF'){
            $('#btnSaveProce').attr('disabled',true);
        }

        var base_url = 'https://hhosorno.herokuapp.com/';
        //var base_url = 'http://localhost:8080/';
        var idficha = $('#txtHiddenFicha').val();

        $.ajax({
            type: 'get',
            url: base_url + 'proc-enf/list/' + idficha,
            success: function(data){
                $("#tabla-proce thead").append("<th>Ficha</th><th>Fecha</th><th>Procedimiento</th><th>Usuario</th>");
				        $('#tabla-proce tr').remove();
                $.each(data, function(i, item){
					        $('<tr>').html(
                        "<td>"+data[i].id_ficha+"</a></td>"+
                        "<td>"+data[i].fecha+"</td>" +
                        "<td>"+data[i].descripcion+"</td>" +
                        "<td>"+data[i].usuario+"</td>"+
                    "</tr>").appendTo('#tabla-proce');
                });
            }
        });
      });
  </script>
</html>